.clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list__item + .clients-list__item {
    margin-left: 30px;
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--first-icon-color);
    border-radius: 4px;
    color: var(--first-icon-color);
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }
}

.clients-list__icon {
    fill: currentColor;
}
