:root {
    --hero-background-color: #2F303A;
    --second-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --first-header-color: #212121;
    --second-header-color: #757575;
    --hero-color: #ffffff;
    --title-color: #212121;
    --after-title-color: #757575;
    --first-btn-color: #ffffff;
    --second-btn-color: #212121;
    --accent-color: #2196F3;
    --first-footer-color: #ffffff;
    --second-footer-color: rgba(255, 255, 255, 0.6);
    --first-logo-color: #212121;
    --second-logo-color: #ffffff;
    --first-icon-color: #AFB1B8;
    --second-icon-color: #ffffff;
    --overlay-color: #ffffff;
    --modal-background-color: #ffffff;
    --modal-color: #212121;
    --roboto-font-family: 'Roboto', sans-serif;
    --raleway-font-family: 'Raleway', sans-serif;
}